@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p>Consulta Las mejores <a asp-area="" asp-page="/Movies/Index">Películas</a>.</p>
</div>
