@page
@model PrivacyModel
@{
    ViewData["Title"] = "Políticas de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<h3>Opiniones sobre la experiencia</h3>
<p>Ricardo: Utilizar razor pages me pareció sencillo por la guía proporcionada, lo complicado, a mi parecer
    fue la parte de conectar y modificar la tabla en la base de datos. He visto que Muchos recomiendan
    Razor pages como metodología primordial para el desarrollo de páginas web en ASP</p>
<p>
    Deybi: La parte que me parece más difícil de lo que me correspondió fue la de configurar en sí 
    todo el entorno de visual studio para desarrollar razor pages. Me parece una buena forma de 
    reducir código ya que el layout contiene como el esqueleto de las páginas y solo se va adaptando al contenido.
</p>
<p>
    Carlos: por mi parte, la creación del archivo seedData fue tediosa, tuvimos que evitar 
    su uso posteriormente al modificar la base de datos y eso fue un paso extra. Razor pages
    me parece dinámico y útil.
</p>
